<body>
    <div class="bg"></div>
    <div class="welcome-page">
        <mat-card class="welcome-card">
            <h1 class="sub-header">welcome to</h1>
            <!-- <img mat-card-image src="assets/img/logo.svg"> -->
            <h1 class="title">MyFlix</h1>
            <mat-card-actions class="welcome-card-actions">
                <button mat-raised-button (click)="openUserRegistrationDialog()" color="primary">
                    <mat-icon>how_to_reg</mat-icon> Sign Up
                </button>
                <button mat-raised-button color="primary" (click)="openUserLoginDialog()">
                    <mat-icon>login</mat-icon> Login
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</body>