.welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
}

.welcome-card {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 3em 4em;
    width: min-content
}

// .welcome-card-header {
//     display: flex;
//     justify-content: center;
//     width: 50px;
// }

.mat-card>.mat-card-actions:last-child {
    margin-bottom: -8px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}