<body style="background-image: url(../../assets/img/doodle\ film\ SCALABLE.svg)">
    <div class="welcome-page">
        <mat-card class="welcome-card">
            <img mat-card-image src="assets/img/LogoLong.png">
            <mat-card-actions class="welcome-card-actions">
                <button mat-raised-button (click)="openUserRegistrationDialog()" color="primary">
                    <mat-icon>how_to_reg</mat-icon> Sign Up
                </button>
                <button mat-raised-button color="primary" (click)="openUserLoginDialog()">
                    <mat-icon>login</mat-icon> Login
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</body>