<div class="welcome-page">
    <mat-card class="welcome-card">
        <mat-card-header>
            <mat-card-title>Welcome to</mat-card-title>

            <img src="../../../src/assets/img/LogoLong.png">

        </mat-card-header>
        <img mat-card-image>
        <mat-card-actions class="welcome-card-actions">
            <button mat-raised-button (click)="openUserRegistrationDialog()" color="primary">
                <mat-icon>how_to_reg</mat-icon> Sign Up
            </button>
            <button mat-raised-button color="primary" (click)="openUserLoginDialog()">
                <mat-icon>login</mat-icon> Login
            </button>
        </mat-card-actions>
    </mat-card>
</div>