$backgroundColor: #c1cbbd;

.user-profile-page {
    background-color: $backgroundColor;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.user-profile-card {
    margin-top: 64px;
    padding: 28px;
    height: fit-content;
}